.city {

  &__listContainer {
    z-index: 10;    
    margin-left: -74px;
  }

  &__list {
    width: 12rem;
    background-color: #1f2937;
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__listItem {
    padding: 0 0.5rem;
    border-bottom-width: 1px;
    cursor: pointer;
  }
}
